.user-count {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 15px;
}
.user-count img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid 4px #080c0e;
  margin-left: -25px;
  position: relative;
}
.user-images .user-1 {
  z-index: 4;
}
.user-count .user-2 {
  z-index: 3;
}
.user-count .user-3 {
  z-index: 2;
}
.user-count .user-4 {
  z-index: 1;
}
.user-count h3 {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  margin-bottom: 4px;
}
.user-count a {
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  line-height: 17px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
}
