.team-section {
  background-color: #ffffff22;
  padding: 50px 0;
}
.team-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.team-section .left-content {
  width: calc(60% - 25px);
}
.team-section .right-content {
  width: calc(40% - 25px);
}
.team-section .right-content {
  padding: 30px;
}

.team-section .section-subtitle {
  color: #ffffff;
  display: inline-block;
  background-color: #ffffff44;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Segoe UI", sans-serif;
}
.team-section .section-title {
  font-size: 55px;
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
  color: #ffffff;
  line-height: 65px;
  margin: 30px 0;
}
.team-section .text-content {
  font-size: 18px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.team-section .right-content .image-box {
  background: url("../../../assets/chart-image-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 28px;
  padding: 50px;
}
.team-section .right-content img {
  max-width: 100%;
}
