header .container {
  background-color: #121b1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border-radius: 100px;
  margin-top: 30px;
}
header .logo img {
  width: 220px;
  cursor: pointer;
}
header .navbar {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  column-gap: 40px;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  column-gap: 20px;
}
header nav ul li {
  position: relative;
}
header nav ul li a {
  color: #b8bbbc;
  font-size: 17px;
  line-height: 22px;
  text-decoration: none;
  padding: 10px 20px 12px 20px;
  border-radius: 50px;
  background-color: transparent;
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  transition: all 0.3s;
}
header nav ul li .megamenu-container {
  background-color: transparent;
  position: absolute;
  padding-top: 30px;
  border-radius: 40px;
  top: calc(100% + 10px);
  left: calc(50%);
  transform: translateX(-50%) translateY(30px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
header nav ul li:hover .megamenu-container {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0) translateX(-50%);
}
header nav ul li a .drop-down-icon {
  position: relative;
  top: 5px;
  left: -2px;
}
header nav ul li a:hover {
  background-color: #080c0e;
  color: #ffffff;
}

.navbar .hamburger {
  display: flex;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  row-gap: 5px;
}
.navbar .hamburger span {
  display: inline-block;
  height: 2px;
  background-color: #b8bbbc;
}
.navbar .hamburger span.line-1 {
  width: 12px;
}
.navbar .hamburger span.line-2 {
  width: 20px;
}
.navbar .hamburger span.line-3 {
  width: 16px;
}

.navbar .hamburger:hover > span {
  width: 20px !important;
}
