.clients-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.clients-logo.container {
  background-color: #ffffff22;
  border-radius: 18px;
  padding: 30px;
}

.clients-logo-title {
  width: 25%;
}
.clients-logo-title h3 {
  font-family: "Funnel Display", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.clients-logo-gird {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
.clients-logo-gird img {
  width: 180px;
  filter: brightness(100);
}
