.mega-menu {
  width: 600px;
  height: 300px;
  background-color: #ffffff;
  position: absolute;
  padding: 40px;
  border-radius: 40px;
  top: calc(100%);
  left: calc(50%);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
.mega-menu.active {
  opacity: 1;
  visibility: visible;
}
