.custom-cursor,
.cursor-outline {
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  opacity: 0;
  position: fixed;
  transition: opacity 0.3s ease;
}

.custom-cursor {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
}
.cursor-outline {
  width: 40px;
  height: 40px;
  border: solid 2px #b8bbbc;
  transition: transform 0.15s ease-out;
}
