.footer {
  border-top: solid 1px #444444;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
ul.social-list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
}
ul.social-list li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
}
p.footer-copyright {
  font-size: 16px;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  text-align: right;
}
