.services-megamenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: 20px;
  background-color: #ffffff;
  border-radius: 32px;
  justify-content: space-between;
  width: 600px;
  height: 300px;
  padding: 20px;
}
.services-megamenu .megamenu-item {
  width: 50%;
}
.megamenu-item .megamenu-link {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #dddddd;
  padding: 15px 15px;
  border-radius: 24px;
}
.megamenu-item .megamenu-link .icon {
  font-size: 40px;
  color: #080c0e;
}
.megamenu-link h3 {
  font-size: 18px;
  color: #080c0e;
}
