.megamenu-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.megamenu-content .megamenu-item {
  width: 50%;
  background-color: gray;
  border-radius: 24px;
  padding: 20px;
}
