.services-megamenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 32px;
  justify-content: space-between;
  width: 750px;
  padding: 20px;
}
.services-megamenu .megamenu-item {
  width: calc(50% - 10px);
}
.megamenu-item .megamenu-link {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding: 25px;
  border-radius: 20px;
}
.megamenu-item .megamenu-link:hover {
  background-color: #f2f5f7;
  color: #080c0e;
}
.megamenu-item .megamenu-link .icon {
  font-size: 40px;
  color: #080c0e;
  padding-right: 10px;
}
.megamenu-link h3 {
  font-size: 18px;
  color: #080c0e;
}
.megamenu-link p {
  font-size: 16px;
  color: #515455;
  font-weight: 400;
  margin-top: 10px;
}
