.blog-post {
  width: 31%;
  background-color: rgba(240, 248, 255, 0.2);
  padding: 20px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  position: relative;
}
.blog-post img {
  width: 100%;
  border-radius: 4px;
}
.blog-post h3.blog-title {
  font-family: "Funnel Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.blog-post p.blog-details {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.blog-post a.btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #2872fa;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  bottom: 20px;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
  right: 20px;
}
